node_modules/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.env*
!.env.example

cache/

deployments/hardhat*
deployments/localhost*

exports/localhost*
exports/hardhat*

generated/localhost*
generated/hardhat*

.mnemonic*
